.body{
  background-color: yellow;
}

img{
  width: 15%;
}

.mainTitle{
  font-family: 'Rubik', sans-serif;
  font-size: 65px;
}

.title{
  font-family: 'Rubik', sans-serif;
  font-size: 25px;
  color: brown;
}
.orders{
  margin-left: 20px;
}

